.app {
    width: 100%;
    height: 100vh;
}

.navigation, .header {
    padding: var(--padding);
}

.header-content-container, .mobile-container {
    height: 100%
}

.navigation {
    display: flex;
    justify-content: flex-start;
}

.navigation-container {
    background-color: var(--bg-color-secondary) !important;
    border-radius: var(--border-radius);
    border: var(--border);
}

.header {
    
}

.content {  
    height: 100%;
    padding: 0 var(--padding);
    /*border: 1px solid red;*/
}

@media (max-width: 600px) {
    .navigation {
        height: auto;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .navigation {
        height: calc(100% - 2 * var(--padding));
    }
}

@media (min-width: 1024px) {
    .navigation {
        height: calc(100% - 2 * var(--padding));
    }
}