.navigation-item-container {
    background-color: var(--bg-color-secondary) !important;
    border-radius: var(--border-radius) !important;
    color: var(--text-color-primary) !important;
}



