.appbar-item-container {
    padding: calc(var(--padding) / 2);
    background-color: var(--bg-color-secondary) !important;
    width: fit-content;
    height: min-content;
    border-radius: var(--border-radius) !important;
    border: var(--border) !important;
}

.appbar-icon {
    color: var(--text-color-primary) !important;
}

